.sheep-window img {
  /* animation: y 0.8s linear infinite alternate; */
  animation: x 7.5s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}
