.sheep-window .img0 {
  animation: sheepThree ease 5s infinite;
}
.sheep-window .img1 {
  animation: sheepOne ease-in-out 3s infinite;
}

@keyframes sheepZero {
  0% {
    transform: translateX(0) scaleX(-1);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(36%);
  }
  49% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  50% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) translateY(36%);
  }
  99% {
    transform: translateX(0) scaleX(1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}
@keyframes sheepOne {
  0% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) translateY(-36%);
  }
  49% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(0) scaleX(-1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(-36%);
  }
  99% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  100% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
}
@keyframes sheepTwo {
  0% {
    transform: translateX(calc(100vw - 100%)) scaleX(1) translateY(50%);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) translateY(-50%);
  }
  49% {
    transform: translateX(0) scaleX(1) translateY(-50%);
  }
  50% {
    transform: translateX(0) scaleX(-1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(84%);
  }
  99% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1) translateY(50%);
  }
  100% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
}
@keyframes sheepThree {
  0% {
    transform: translateX(0) scaleX(-1) translateY(48%);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(36%);
  }
  49% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  50% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) translateY(36%);
  }
  99% {
    transform: translateX(0) scaleX(1) translateY(48%);
  }
  100% {
    transform: translateX(0) scaleX(-1) translateY(48%);
  }
}
@keyframes sheepFour {
  0% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) translateY(-36%);
  }
  49% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(0) scaleX(-1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(50%);
  }
  99% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  100% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
}
@keyframes sheepFive {
  0% {
    transform: translateX(0) scaleX(1);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(1) translateY(36%);
  }
  49% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  50% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) translateY(36%);
  }
  99% {
    transform: translateX(0) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}
@keyframes sheepSix {
  0% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  25% {
    transform: translateX(24vw) scaleX(1) translateY(-64%);
  }
  49% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(0) scaleX(-1);
  }
  75% {
    transform: translateX(66vw) scaleX(-1) translateY(36%);
  }
  99% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  100% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
}
@keyframes sheepSeven {
  0% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
  25% {
    transform: translateX(33vw) scaleX(1) translateY(-36%);
  }
  49% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(0) scaleX(-1);
  }
  75% {
    transform: translateX(74vw) scaleX(-1) translateY(24%);
  }
  99% {
    transform: translateX(calc(100vw - 100%)) scaleX(-1);
  }
  100% {
    transform: translateX(calc(100vw - 100%)) scaleX(1);
  }
}
@keyframes sheepEight {
  0% {
    transform: translateX(calc(100vw - 100%)) rotate(0deg) translateY(0%);
  }
  12.5% {
    transform: translateX(calc(((100vw - 100%) / 4) * 3)) rotate(360deg)
      translateY(36%);
  }
  25% {
    transform: translateX(calc((100vw - 100%) / 2)) rotate(0deg)
      translateY(-36%);
  }
  37.5% {
    transform: translateX(calc((100vw - 100%) / 4)) rotate(270deg)
      translateY(36%);
  }
  50% {
    transform: translateX(0) scaleX(-1) rotate(720deg) translateY(0);
  }
  62.5% {
    transform: translateX(calc((100vw - 100%) / 4)) scaleX(-1) rotate(360deg)
      translateY(-36%);
  }
  75% {
    transform: translateX(calc((100vw - 100%) / 2)) scaleX(-1) rotate(0deg)
      translateY(36%);
  }
  87.5% {
    transform: translateX(calc(((100vw - 100%) / 4) * 3)) scaleX(-1)
      rotate(-360deg) translateY(-36%);
  }
  100% {
    transform: translateX(calc(100vw - 100%));
  }
}
@keyframes sheepNine {
  0% {
    transform: translateX(0) scaleX(-1) translateY(0);
  }
  10% {
    transform: translateX(calc((100vw - 100%) / 5)) scaleX(-1) translateY(36%);
  }
  20% {
    transform: translateX(calc(((100vw - 100%) / 5) * 2)) scaleX(-1)
      translateY(-36%);
  }
  30% {
    transform: translateX(calc(((100vw - 100%) / 5) * 3)) scaleX(-1)
      translateY(36%);
  }
  40% {
    transform: translateX(calc(((100vw - 100%) / 5) * 4)) scaleX(-1)
      translateY(-36%);
  }
  50% {
    transform: translateX(calc(100vw - 100%)) scaleX(1) translateY(36%);
  }
  60% {
    transform: translateX(calc(((100vw - 100%) / 5) * 4)) scaleX(1)
      translateY(-36%);
  }
  70% {
    transform: translateX(calc(((100vw - 100%) / 5) * 3)) scaleX(1)
      translateY(36%);
  }
  80% {
    transform: translateX(calc(((100vw - 100%) / 5) * 2)) scaleX(1)
      translateY(-36%);
  }
  90% {
    transform: translateX(calc((100vw - 100%) / 5)) scaleX(1) translateY(36%);
  }
  100% {
    transform: translateX(0) scaleX(-1) translateY(0);
  }
}
@media screen and (min-width: 767px) {
  .sheep-window .img0 {
    animation: sheepEight 7.5s infinite;
  }
}
