.sheep-window {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sheep-window img {
  display: block;
  height: 84%;
}
.sheep-window .points-display {
  width: 94%;
  font-size: 36px;
  margin: 10px 20px;
}
/* @media screen and (min-width: 767px) {
  .sheep-window {
    background-color: black;
  }
} */
