.sheep-window {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.sheep-window img {
  display: block;
  height: 24%;
  position: absolute;
  left: calc(100vw - 100%);
}
.sheep-window .points-display {
  width: 94%;
  font-size: 36px;
  top: 10px;
  left: 20px;
  position: absolute;
}
@media screen and (min-width: 767px) {
  .sheep-window img {
    height: 64%;
  }
}
