.App {
  height: 92vh;
  background-image: url("https://cdn.wallpaperhub.app/cloudcache/b/d/7/6/4/b/bd764bb25d49a05105060185774ba14cd2c846f7.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-side {
  height: 40%;
  /* background-color: blueviolet; */
}
.bottom-side {
  height: 54%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-side .button-row {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.bottom-side input {
  height: 32px;
  width: 58%;
}
.bottom-side .button-row button {
  border-radius: 100%;
  width: 18vw;
  height: 18vw;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  backdrop-filter: blur(5px);
  border: 0;
  color: #fff;
}
.bottom-side .button-row button span {
  font-weight: 900;
  font-size: 22px;
}
.bottom-side .button-row button p {
  font-size: 10px;
}
