* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./Assets/Meadow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
